.featured_item {
    position: relative;
}

.featured_item a {
    text-decoration: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
}

.featured_image {
    height: 330px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.featured_caption{
    color: white;
    top:0px;
    width: 100%;
    padding: 20px;
    font-weight: 200;
    font-size: 28px;
    box-sizing: border-box;
}